.App {
  padding: 10px;
}

header {
  text-align: center;
}
h1 {
  margin: 0;
  border-bottom: 1px solid rgb(202, 200, 200);
  padding-bottom: 10px;
}

.wrapper {
  margin: 0 auto;
}

.movies {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.movie {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  width: 150px;
  border: 1px solid rgb(194, 193, 193);
}
.movie img {
  border-radius: 10px;
  width: 100%;
}
.celeb-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-style: italic;
  font-size: 14px;
}

.celeb-name strong {
  font-style: normal;
}

.pagination-count,
.content {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.loading-text {
  border: none;
}

.page-results {
  margin-bottom: 10px;
  color: navy;
  font-size: 14px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
